.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

/* .p__manrope {
  font-family: var(--font-base);
  color: var(--color-black);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
} */
